{% extends "layout.html" %}

{% block content %}

{% for table in tables %}
{{ table|safe }}
    {% endfor %}

        {% endblock %}

{% block scripts %}
<script>
    $("#bets").dataTable({
        "iDisplayLength": -1,
        order: [[5, "desc"]],
        info: false,
        paging: false
    });

    $(function(){
        $.ajax({
            "method": 'get',
            "url": './writetosheet',
            "success": function (resp) {
                console.log(resp);
            }
        });
    })
</script>
{% endblock %}
