{% extends "layout.html" %}

{% block content %}


{% for game in games %}
<div class="row">
    <div class="col-md-12">
        <h3>
            {{game.Name}}
        </h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>
                        Bet
                    </td>
                    <td>
                        Odds
                    </td>
                    <td>
                        {{game.AwayPitcher}}
                    </td>
                    <td>
                        {{game.HomePitcher}}
                    </td>
                    <td>
                        EV%
                    </td>
                    <td>
                        Full Kelly Stake
                    </td>
                    <td>
                        Devig Link
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for line in game["Lines"] %}
                <tr>
                    <td>
                        {{line["Name"]}}
                    </td>
                    <td>
                        {{line["Odds"]}}
                    </td>
                    <td>
                        {{line["AwayPitcherOdds"]}}
                    </td>
                    <td>
                        {{line["HomePitcherOdds"]}}
                    </td>
                    <td>
                        {{line["EVPercentage"]}}
                    </td>
                    <td>
                        {{line["BetSize"]}}
                    </td>
                    <td>
                        <a href="{{line["DevigLink"]}}" target="_blank">Link</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
        {% endfor %}

        {% endblock %}
